* {
  box-sizing: border-box;
  font-size: 15px;
}

// Variables
$primary: #467A43; //green
$secondary: #F3F5F8; //background color
$accent: #9CB42F; //lighter green accent color
$header-font: 'Baloo Bhai 2';
$body-font: 'Baloo Thambi 2';
