* {
  box-sizing: border-box;
}

// Variables
$primary: #467A43; //green
$secondary: #F3F5F8; //background color
$accent: #9CB42F; //lighter green accent color
$header-font: 'Baloo Bhai 2';
$body-font: 'Baloo Thambi 2';

body {
  margin: 0;
  font-size: 15px;
  font-family: $body-font;
}

.blog-index-filter-box {
  text-align: center;
  select {
    text-align: right;
    text-decoration: underline;
    color: $primary;
    padding-left: 10px;
  }
}

.succulents-blog-index, .single-blog {
  display: flex;
  justify-content: center;
}

.blog-index-cards {
  .blog-card-p {
    font-size: 0.7rem;
    color:#98999a;
  }
  .blog-read-more{
    background-color: $primary;
    color: $secondary;
  }
  .description-card-p {
    margin-top: 5px;
  }
  button {
    color: $accent;
  }
}

.single-blog {
  h1 {
    font-size: 2rem;
    font-family: $header-font;
    color: $primary;
  }
}